.create-dataset-filter-form {
    .error {
        color: #f44336;
        font-family: 'Roboto';
        margin-top: -5px;
        padding: 0;
        font-size: 0.75rem;
    }

    .textfield {
        width: 100%;
        margin: 0 !important;
        padding-bottom: 5px;
    }

    .ControlledOpenSelect-formControl-250 {
        margin: 0 !important;
    }
}